*{
font-family: Arial, Helvetica, sans-serif;
padding: 0%;
text-decoration: none;
text-align: center;
background-color: white;
color: black;


}

hr{
    color:black;
   
}



.header{

    width: 100%;
}

.heading{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}









ul,li,a{
    color: black;
    text-decoration: none;
    text-emphasis: none;
}




.addcontact h2{
    text-align: center;
}



.Clist{
  text-decoration: none;
   text-align: center;
   align-items: center;

}



.contactrender{
    text-align: center;
}

.listcontainer{
    text-align: center;
}

